<form action="{{ base_url }}/search/node" method="get" id="search-block-form" class="sidebar-form" accept-charset="UTF-8" role="form">
	<div class="input-group">
    	{# <label for="edit-keys" class="visually-hidden">Search</label> #}
        <input title="Enter the terms you wish to search for." data-drupal-selector="edit-keys" type="text" id="edit-keys" name="keys" value="" size="15" maxlength="128" class="form-search form-control" />
        <span class="input-group-btn">
	        <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
	        </button>
      	</span>
    </div>
</form>