# AB-CAPS
# Git Ignore file
# Author : Sridhar Pandurangiah
# Last Update : 27th June 2017

#Directories to ignore
build/
node_modules/

#Directories to ignore
./Gruntfile.js
./package.json
./package-lock.json

