<div class="page-bar">
     <div data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top"> </div> 
</div>

<div data-ng-include="'tpl/sidebar.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper"> </div>

<div class="page-content-wrapper  ">
                <div class="page-content">


 <div class="col-md-12 portlet light">
      
<div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered tasks-widget">
                <div class="portlet-title">
                    <div class="caption caption-md">
                       
                        <span class="caption-subject font-green bold uppercase">Proforma invoice number </span>
                        
                    </div>
                    </div>
                 

                           <div class="portlet-body clearfix" >
                        <div class="table-responsive" style="width: 53%;">
                            <table class="table table-bordered">
                            <thead>
                                <tr >
                                    <th style=" font-weight: bold;width: 20%;">S.No</th>
                                    <th style=" font-weight: bold;width: 20%;">Proforma Invoice</th>
                                      </tr>
                            </thead>
                            <tr ng-repeat="purchaseorder in proformaNumber">
                             <!-- <td >{{purchaseorder.date}}  </td> -->
                             <td>{{purchaseorder.sno}}</td>
                                <td style="text-align: end;"><a  href="#" ng-click="viewProformaConstitution()">{{purchaseorder.id}}</a></td>
                            </tr>
                        </table>
                                <!-- <input type="text" class="form-control common "  id="" ng-model="proformaNumber" > -->
                            <!-- </div>
                        </div>
                    </form>
                </div> -->
    
</table>

</div>
</div>
                </div>
            </div>
        </div>
    </div>


    
</div>
</div>