<!--    BEGIN PAGE HEADER-->
<div class="page-bar">
     <div data-ng-include="'tpl/header.html'" data-ng-controller="HeaderController" class="page-header navbar navbar-fixed-top"> </div> 
</div>

<div data-ng-include="'tpl/sidebar.html'" data-ng-controller="SidebarController" class="page-sidebar-wrapper"> </div>
<div class="page-content-wrapper">
                <div class="page-content">

 <div class="row">
        <div class="col-md-12 col-sm-12">
            <!-- BEGIN PORTLET-->
            <div class="portlet light bordered tasks-widget">
                <div class="portlet-title">
                    <div class="caption caption-md">
                       
                        <span class="caption-subject font-green bold uppercase">Purpose</span>
                        
                    </div>
                     <div class="form-actions">
                               
                                <button  class="btn blue  pull-right" ng-click="newPurpose()">Create New Purpose</button>
                            </div>
                </div>
                <div class="portlet-body">
                    <div class="task-content">
                        <div class="scroller" style="height: 282px;" data-always-visible="1" data-rail-visible1="0" data-handle-color="#D7DCE2">
                            
                            <ul class="task-list">

                            </ul>
                            <table class="table table-hover table-light">
                            <thead>
                                <tr >
                                    <th style="text-align:left;" class="col-sm-6"><h5 class="col-sm-offset-6" style="margin-bottom:0!important; font-weight: bold;"> ID </h5></th>
                                    <th> <h5 style="margin-bottom:0!important; font-weight: bold;"> Name </th>
                                    <!-- <th > Permission </th> -->
                                </tr>
                            </thead>
                            <tr ng-repeat="purposes in purpose">
                                <td class="col-md-offset-4"><a style="text-align:left;  display: block;" class="more col-sm-offset-6" href="#" ng-click="viewPurpose()">{{purposes.id}}</a>
                                   
                                </td>
                                <td >{{purposes.name}}  </td>
                                <!-- <td >  <a class="more" href="#" ng-click="viewPurpose()">View</a> </td> -->
                                
                                
                                
                            </tr>
                        </table>
                         <!-- <a href="" style="float: right;">See All Records</a> -->
                            <!-- END START TASK LIST -->
                        </div>
                         
                    </div>
                   
                </div>
            </div>
            <!-- END PORTLET-->
        </div>
     
                </div>
                </div>
    </div>

  
</div>

</div>
</div>
<!-- END MAIN CONTENT -->
<!-- BEGIN MAIN JS & CSS -->

               
<script>
    Dashboard.init();
</script>
<!-- BEGIN MAIN JS & CSS